h1{
	font-size: :30px;
  text-align: center
}


p {
	font-size:25px;
	color: DarkSlateGray;
  text-align: center
}


div {
	padding: 10px;

}



.topo {
	background-color: Silver;
  padding: 2px;
}

.menu {
	background-color: Salmon;



      <div class= 'menu'>

          <a href='https://www.youtube.com/channel/UCh7v1laqx7bZodFvIL1Q42g'

            Canal do Youtube
            </a>

        </div>

}

a, a:visited {
	color:blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}





.conteudo {
	background-color: plum;
	box-sizing: border-box

        <div class= 'conteudo'>

        <h1> Gatos são uma ótima companhia</h1>

        <p> Cada vez mais as pessoas estão se apegando as gatos, pois são uma ótima companhia. </p>

        <img src='gato.jpg'>



				</div>
}



.rodape {
	background-color: crimson;
	clear: both;
}
